<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="static/styles/6-filters.css">
    <link rel="icon" href="images/icon.png" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      <li>
		{% for x in state.values()|sort(attribute='name') %}
		<h2>{{ x.name }}</h2>
		<ul>
		  {% for y in city.values()|sort(attribute='name') %}
		  {% if x.id == y.state_id %}
		  <li>{{ y.name }}</li>
		{% endif %}
		{% endfor %}
		</ul>
		{% endfor %}
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      {% for z in amen.values()|sort(attribute='name') %}
	      <li>{{ z.name }}</li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
	<button type="button">Search</button>
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
